[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/backend_drf
ExecStart=/home/ubuntu/env/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/ubuntu/backend_drf/backend_drf/backend_drf.sock backend_drf.wsgi:application

       
[Install]
WantedBy=multi-user.target
